<h1 style="text-align: center;">Students</h1>
<style>
     th {
      padding: 20px; /* Adjust the padding value according to your needs */
    }
  </style>
<table style="width:100%">
       <tr>
        <th><h4>username</h4></th>
        <th><h4>Password</h4></th>
        <th><h4>Acadimic_Number </h4></th>
        <th><h4>Pervious_Subjects</h4></th>
        <th><h4>Enrolled_Subjects</h4></th>
     </tr>
    {{#each students}}
 
    <tr>
        <td style="width:50%">
            {{username}}
        </td>
        
        <td style="width:50%">
            {{password}}
        </td>

        <td style="width:50%">
            {{ acadimic_number}}
        </td>
        <td>
            {{#each    pervious_subjects }}
                {{   this}}
            {{/each}}
        </td>
        </tr>
    </tr>
    {{/each}}
</table>
<br>
<a href="/students/create">
    <button class="btn btn-dark">Add</button>
</a>